{% extends "admin/models/base_forms.html" %}

{% block breadcrumbs %}
 {{ super() }}
 <li><span class="divider">/</span> <a href=".">Editando</a></li>
{% endblock %}

{% block extra_tabs %}
  <li class="active"><a href=".">Editando</a></li>
{% endblock %}

{% block content %}
  {% include "admin/includes/form_raw_id.html" %}
  {% if form.errors %}
    <div class="alert alert-block alert-error">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <p>Ocurrieron errores al enviar el formulario</p>
    </div>
  {% endif %}
  <form method="post" action="." class="edit form-horizontal" enctype="multipart/form-data">
    <fieldset>
      {% if csrf_token %}{# Support for flask-seasurf #}<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">{% endif %}
      <legend>Edición de {{ model_admin.get_display_name() }}</legend>
      {% for field in form %}
        {{ admin_field(field) }}
      {% endfor %}
      {% block extra_form %}{% endblock %}
      <div class="form-actions">
        <button class="btn btn-primary" name="save" type="submit">Guardar</button>
        <button class="btn" name="save_add" type="submit">Guardar y nuevo</button>
        <button class="btn" name="save_edit" type="submit">Guardar y editar</button>
        <a class="btn" href="{{ url_for(model_admin.get_url_name('index')) }}">Canelar</a>
        <a class="btn btn-danger pull-right" href="{{ url_for(model_admin.get_url_name('delete'), id=instance.get_id()) }}">Eliminar</a>
      </div>
    </fieldset>
  </form>
{% endblock %}
